                                                 COVID - 19
                                            ELKIN RAMIREZ GONZALEZ

In [1]:
import scipy.misc
import statistics
import numpy as np # algebra lineal y componente matematica (matrices, arrreglos)
import scipy # matematica
import pandas as pd #manejo de datos
from matplotlib import pyplot as plt #graficas
%matplotlib inline
import seaborn as sb
import random
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from mpl_toolkits.mplot3d import Axes3D
import cv2

**ENTRADA DE LOS DATOS**

In [2]:
data = pd.read_csv('C:/Users/elkin/Documentos/data/Casos.csv', sep=';')
data.head(14217)

,Id,Fecha_de_notificación,Codigo_DIVIPOLA,Ciudad_de_ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País_de_procedencia,FIS,Fecha_de_muerte,Fecha_diagnostico,Fecha_recuperado,fecha reporte web
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14211,14252,2020-05-12T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Casa,1,M,En estudio,Leve,Colombia,2020-05-08T00:00:00.000,- -,2020-05-15T00:00:00.000,- -,2020-05-15T00:00:00.000
14212,14253,2020-05-12T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Casa,45,M,En estudio,Asintomático,Colombia,Asintomático,- -,2020-05-15T00:00:00.000,- -,2020-05-15T00:00:00.000
14213,14254,2020-05-12T00:00:00.000,13001,Cartagena de Indias,Cartagena D.T. y C.,Casa,27,F,En estudio,Asintomático,Colombia,Asintomático,- -,2020-05-15T00:00:00.000,- -,2020-05-15T00:00:00.000
14214,14255,2020-05-09T00:00:00.000,5001,Medellín,Antioquia,Casa,5,F,Relacionado,Asintomático,Colombia,Asintomático,- -,2020-05-15T00:00:00.000,- -,2020-05-15T00:00:00.000
14215,14256,2020-05-12T00:00:00.000,5001,Medellín,Antioquia,Casa,32,M,Relacionado,Leve,Colombia,2020-05-12T00:00:00.000,- -,2020-05-15T00:00:00.000,- -,2020-05-15T00:00:00.000

**IDENTIFICACION DE VARIABLES**

In [3]:
data.dtypes

Id                           int64
Fecha_de_notificación       object
Codigo_DIVIPOLA              int64
Ciudad_de_ubicación         object
Departamento o Distrito     object
atención                    object
Edad                         int64
Sexo                        object
Tipo                        object
Estado                      object
País_de_procedencia         object
FIS                         object
Fecha_de_muerte             object
Fecha_diagnostico           object
Fecha_recuperado            object
fecha reporte web           object
dtype: object

**ANALISIS ESTADISTICO**

In [4]:
data.describe()

                 Id  Codigo_DIVIPOLA          Edad
count  14216.000000     14216.000000  14216.000000
mean    7136.179727     32188.872397     39.786016
std     4118.718202     29136.690714     18.759310
min        1.000000        25.000000      0.000000
25%     3554.750000     11001.000000     26.000000
50%     7148.500000     13001.000000     37.000000
75%    10702.250000     52356.000000     52.000000
max    14256.000000     97001.000000    103.000000

**CORRELACION**

In [38]:
data.corr()

                       Id  Codigo_DIVIPOLA      Edad
Id               1.000000         0.043859 -0.074001
Codigo_DIVIPOLA  0.043859         1.000000 -0.000766
Edad            -0.074001        -0.000766  1.000000

**COVARIANZA**

In [43]:
data.cov()

                           Id  Codigo_DIVIPOLA         Edad
Id               1.696384e+07     5.263323e+06 -5717.619646
Codigo_DIVIPOLA  5.263323e+06     8.489467e+08  -418.870712
Edad            -5.717620e+03    -4.188707e+02   351.911717

**PEARSON**

In [5]:
data.corr('pearson')

                       Id  Codigo_DIVIPOLA      Edad
Id               1.000000         0.043859 -0.074001
Codigo_DIVIPOLA  0.043859         1.000000 -0.000766
Edad            -0.074001        -0.000766  1.000000

In [6]:
#GRAFICO DE PUNTO DE CORRELACION * PEARSON
plt.scatter(Edad, Id)
plt.xlabel('ID_de_casoo')
plt.ylabel('Edad')
plt.title('Relacion entre ID y edad')
plt.show()

NameError: name 'Edad' is not defined

In [9]:
Id.value_counts()

NameError: name 'Id' is not defined